body{
	padding-bottom: 50px;
}

p{
	padding-right: 10%;
}

.jumbotron{
	padding-top: 2%;
	margin-bottom: 5px;
	height: 150px;
	background-color: #D3D3D3;
}

h1 a{
	text-decoration: none !important;
	color: black !important;
}

.mid{
	padding-left: 3%;
}

.character{
	width: 34px;
	height: 34px;
	margin-bottom: 5px;
}

.list-box{
	width: 100%;
}

.translated{
	margin-top: 50px;
	margin-left: 200px;
	width: 1000px;
	height: 650px;
	overflow-y: scroll;
}

textarea{
	width: 500px;
	height: 400px;
}

td{
	vertical-align: top;
	text-align: left;
}

.audio{
	width: 25px;
	height: 25px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #D3D3D3;
  text-align: center;
  height: 90px;
}

/* Large devices */
@media only screen and (max-width: 1200px) and (min-width: 992px){
	body{
		padding-bottom: 30px;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 35px;
	}
	h6{
		font-size: 20px;
	}
	p{
		font-size: 20px;
	}
	form{
		font-size: 20px;
	}
	label{
		font-size: 20px;
	}
	.jumbotron{
		padding-top: 3%;
		height: 150px;
	}
	.character{
		width: 32px;
		height: 32px;
	}
	.list-box{
		width: 480px;
	}	
	.translated{
		margin-top: 30px;
		margin-left: 60px;
		width: 430px;
		height: 910px;
	}
	.footer{
		font-size: 20px;
		height: 90px;
	}
}

/* Medium devices */
@media only screen and (max-width: 990px) and (min-width: 768px){
	body{
		padding-bottom: 10px;
	}
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 30px;
	}
	h6{
		font-size: 15px;
	}
	p{
		font-size: 15px;
	}
	form{
		font-size: 15px;
	}
	label{
		font-size: 15px;
	}
	.jumbotron{
		padding-top: 3.5%;
		height: 130px;
	}
	.character{
		width: 25px;
		height: 25px;
	}
	.list-box{
		width: 375px;
	}	
	.translated{
		margin-top: 20px;
		margin-left: 50px;
		margin-right: 10px;
		width: 320px;
	}
	.footer{
		font-size: 15px;
		height: 80px;
	}
}

/* Small devices */
@media only screen and (max-width: 750px){
	body{
		padding-bottom: 10px;
	}
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 20px;
	}
	h6{
		font-size: 10px;
	}
	p{
		font-size: 10px;
	}
	form{
		font-size: 10px;
	}
	label{
		font-size: 10px;
	}
	.input{
		width: 130px;
	}
	.jumbotron{
		padding-top: 3.5%;
		height: 80px;
	}
	.character{
		width: 20px;
		height: 20px;
	}
	.list-box{
		width: 100%;
	}	
	.translated{
		margin-top: 20px;
		margin-left: 10px;
		width: 160px;
	}
	.footer{
		font-size: 8px;
		height: 60px;
	}
}